{% spaceless %}
    {# initialize facebook SDK #}
    <a href="http://www.instagram.com?{{ {'u': url, 'title': title }|url_encode }}">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <span class="hidden">Instagram</span>
    </a>
{% endspaceless %}
