{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

{% spaceless %}
    <a class="btn btn-sm btn-social btn-tw" href="http://twitter.com/intent/tweet?{{ {'status': url }|url_encode }}" target="_blank" title="Partagez cet article sur Twitter">
      <i class="fa fa-twitter"></i>
      Tweeter
    </a>
{% endspaceless %}
