{% for review in reviews %}
    {% set image_user = review.reviewBy.images|length ? review.reviewBy.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    <article class="post">
        <header class="head">
            <div class="author-img">
                <div class="img-holder">
                    <img alt="{{ review.reviewBy.name }}" src="">
                </div>
                <a href="{{ path('cocorico_user_profile_show', { 'id': review.reviewBy.id }) }}" class="author-name">
                    {{ review.reviewBy.name }}
                </a>
            </div>
            <div class="meta">
                <time>52:45</time>
            </div>
        </header>
        <div class="post-content">
            <p>
               ddddd
            </p>
        </div>
        <footer class="footer">
            <span class="time">
                <i class="icon-clock"></i>{{ review.createdAt |date("H:i") }} GMT
            </span>
            <!-- rating -->
            {% if review.rating %}
                ffff  
            {% endif %}
        </footer>
    </article>
{% endfor %}