<div style="text-align: right;">
	<a class="btn btn-sm btn-social btn-fb" href="https://www.facebook.com/sharer/sharer.php?u=http://s1.nuage-pedagogique.fr/cocorico-4181/fusionFront/public/article_front/{{article.url}}" target="_blank" title="Partagez cet article sur Facebook">
		<i class="fa fa-facebook-square"></i>
		Partager
	</a>
	<a class="btn btn-sm btn-social btn-tw" href="https://twitter.com/intent/tweet?text={{article.titre}}&amp;url=https://weddingyourself.fr/blog/article/{{article.url}}" target="_blank" title="Partagez cet article sur Twitter">
		<i class="fa fa-twitter"></i>
		Tweeter
	</a>
</div>
