{% trans_default_domain 'cocorico_listing' %}

{#search form fields without start ane end form#}


    <div class="input_group p-2 m-2">          
        <input type="search" id="location" name="location[address]" value="{{location.adress}}" class="form-control" style="width: 100%" placeholder="Saisissez un endroit" />
        <input type="hidden" id="location_lat" name="location[lat]" /><input type="hidden" id="location_lng" name="location[lng]" /><input type="hidden" id="location_viewport" name="location[viewport]" /><input type="hidden" id="location_country" name="location[country]" /><input type="hidden" id="location_area" name="location[area]" /><input type="hidden" id="location_department" name="location[department]" /><input type="hidden" id="location_city" name="location[city]" /><input type="hidden" id="location_zip" name="location[zip]" /><input type="hidden" id="location_route" name="location[route]" /><input type="hidden" id="location_streetNumber" name="location[streetNumber]" /><input type="hidden" id="location_addressType" name="location[addressType]" />
    </div>


 