{% extends 'base.html.twig' %}

{% block title %}Recherche - {{parent()}}{% endblock %}

{% block body %}
<div class="container">
	<h1>Recherche</h1>
	<p>Résultat de votre recherche</p>
</div>
{% endblock %}