{% extends 'base.html.twig' %}

{% block title %}Hello CommentcamarcheController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="min-height">
                <h1>Comment ca marche ?</h1>

            <div>
                <p>Chers visiteurs,</p>

                <p>         Vous souhaitez organiser un événement et vous ne savez pas comment recherchez des 
                        Artistes ou Prestataires ? Wedding Yourself vous facilite la vie et vous permet de 
                        réserver les meilleurs Prestataires en toute sécurité :
                </p>
                <p>1.<b>    Recevez des Devis de Prestataires exceptionnels</b></br>
                        Il vous suffit d’indiquer le lieu de votre événement et le type de Prestataires que vous recherchez (Traiteurs, DJs, photographes,…). Notre moteur de recherche vous fournit une liste de Prestataires avec leurs fiches détaillées. Vous sélectionnez les Prestataires qui vous intéressent et leur soumettez une demande de Devis gratuite. Les Prestataires vous envoient ensuite leur Devis ou vous contactent directement pour parler de votre événement.
                </p>

                <p>2.<b>    Réservez votre Prestataire en toute sécurité</b></br>
                        Lorsque vous avez sélectionné et validé les détails du Devis, il vous suffit de réserver le Prestataire sur notre site. Le paiement s’effectue facilement en quelques clics et en toute sécurité sur notre site !
                </p>

                <p>3.<b>    Voici trois tutoriels qui vous aideront à vous familiariser avec notre site.</b></br>
                        La première vidéo est exclusivement pour les professionels mentionnés dans le menu déroulant des métiers.
                </p>  

                <p><b>Tuto comment "devenir Wedder" => </b></p>

                <iframe src="https://www.youtube.com/embed/LdMu8k86vVQ" width="560" height="315" frameborder="0" allowfullscreen></iframe> 

                <p>La deuxième vidéo vous aide à créer un compte client pour avoir accès à nos nouvelles annonces
                </br>
                <b>Tuto comment créer son compte client =></b>
                </p>

                <iframe src="https://www.youtube.com/embed/aZxWdfvw53I" width="560" height="315" frameborder="0" allowfullscreen></iframe> 


                <p>La troisième vidéo vous explique comment entrer en contact avec le prestataire.
                </p>

                <iframe src="https://www.youtube.com/embed/n3CT3t3A7Dc" width="560" height="315" frameborder="0" allowfullscreen></iframe> 

                <p>Tout est simple et très rapide !</br>

                    N'hésitez pas à nous contacter pour toute information complémentaire.</br>

                    L'équipe de Wedding Yourself
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}
