{% extends 'base.html.twig' %}

{% block title %}Hello CommentcamarcheController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="min-height">
                <h1>Mentions légales</h1>

            <div>

                <p>
                    Le site internet Wedding Yourself est réalisé par la société Wedding Yourself.
                </p>

                <p>
                    <strong>Adresse du siège social :</strong>
                </p>

                <p>
                    22bis chemin latéral
                    <br>
                    94140 AFORTVILLE
                </p>

                <h3>Droits d’accès et de rectification :</h3>

                <p>
                    A tout moment, l’utilisateur du site
                    <a href="http://www.weddingyourself.fr">www.weddingyourself.fr</a>
                     dispose d’un droit d’accès à son compte, de modification, de rectification et de 
                     suppression de ses données et ce conformément à l’article 34 de la loi française 
                     du 6 janvier 1978 « informatique et libertés ».
                </p>

                <h3>Hébergeur :</h3>

                <p>
                    La plateforme Wedding Yourself est hébergée chez OVH.
                </p>

                 <p>
                    SAS au capital de 10 069 020 €
                    <br>
                    RCS Lille Métropole 424 761 419 00045
                    <br>
                    Code APE 2620Z
                    <br>
                    N° TVA : FR 22 424 761 419
                    <br>
                    Siège social : 2 rue Kellermann - 59100 Roubaix - France
                </p>

                



                
            </div>
        </div>
    </div>
</div>
{% endblock %}
