{% extends 'base.html.twig' %}

{% block title %}Hello CommentcamarcheController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="min-height">
                <h1>Qui sommes nous?</h1>

            <div>

                <p>
                    <strong>Wedding yourself</strong>
                    est une plateforme de mise en relation pour les clients désireux de réaliser eux-mêmes tous types d'événements 
                    (Mariages, anniversaires, baptêmes...). Chaque prestataire est testé par nos soins. Et si vous le souhaitez, 
                    vous pouvez être accompagné d'un organisateur professionel pour vous aider à trouver les meilleurs prestataires 
                    selon votre budget et préparer votre évènement jusqu'au jour J.
                </p>

                <p>&nbsp;</p>

                <h2>Nos engagements</h2>

                <div>
                    </br>
                        Chez    
                    <strong>Wedding yourself</strong>
                    , notre équipe s’engage à vous aider à célébrer les meilleurs moments 
                    de votre vie. De l’identification à la réservation du Prestataire, 
                    notre équipe de spécialistes est là pour vous aider à chaque étape. 
                    Lorsque vous avez trouvé le prestataire idéal pour votre événement, 
                    réservez-le sur notre site et vous serez couvert par notre Programme de 
                    Protection des Acheteurs.
                </div>

                <div>&nbsp;</div>

                <div>
                    <p>
                    Le succès de votre événement est notre réputation. Notre priorité est que vos rêves deviennent réalités !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
